* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;

  height: 100%;

  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
p,
ul,
li {
  padding: 0;
  margin: 0;
}

/* ---------------------------------------------------------------------------- */

/* Див header */
.header {
  background: #f5f5f6;
  padding-top: 11px;
  padding-bottom: 6px;
}

/* В шапке  - контейнер для логотипа,    навигации и  кнопки "Выход" */
.header__container {
  width: 950px;
  margin-left: auto;
  margin-right: auto;

  display: flex;

  justify-content: space-between;
}

/* Навигация  (внутри этого блока находятся ссылки */
.header__nav {
  display: flex;
  padding-top: 9px;
  position: relative;
  right: 32px;
  width: 611px;
}

.header__nav-link {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.06em;
  color: #959ba4;
  margin-right: 25px;
}

/* Первая ссылка при заходе на страницу отмечена как активная */
.header__nav-link_active {
  color: black;
}

/* Кнопка "Войти" */
.header__button {
  cursor: pointer;
  background: #ffffff;
  border: none;
  outline: none;
  border-radius: 4px;

  padding: 10px;

  text-transform: uppercase;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  position: relative;
  bottom: 2px;
}

/*  ------------------------------------------------------------------- */

/* Центрирующий контейнер для самого конвертера валют */
.converter {
  width: 646px;
  margin-left: auto;
  margin-right: auto;

  padding-top: 57px;
}

/* Заголовок   "Конвертер валют онлайн"  */
.converter__heading {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 29px;
}

/* Тег form */
.form {
  display: flex;
  justify-content: space-between;
}

/* Левая колонка */
.form__left-column {
  margin-right: 122px;
}

/* Заголовок в левой колонке */
.form__left-column-heading,
.form__right-column-heading {
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;

  color: #9f9f9f;

  margin-bottom: 8px;
}

/* Ряд для кнопок и селекта  */
.currencies-row {
  display: flex;
  border: 1px solid #e5e5e5;

  border-radius: 3px;
  margin-bottom: 21px;
}

/*  КНОПКИ  */
.currencies-row-button {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #c6c6c6;
  background-color: white;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  border: none;
  padding-right: 13px;
  border-right: 0.5px solid #e5e5e5;
  outline: none;
  cursor: pointer;
}

/* СЕЛЕКТ выбора валют */
.base-currencies {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* color: #c6c6c6; */
  font-family: "Roboto", sans-serif;

  outline: none;
  border: none;

  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;

  padding-left: 2px;
}

.base-currencies option {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: white;
  font-family: "Roboto", sans-serif;
  outline: none;
}

select,
select:focus,
select:active,
option,
option:focus,
option:active {
  outline: none;
  background: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  padding-left: 3px;
  width: 49px;
  border: 0px solid #c6c6c6;
}

select:hover {
  cursor: pointer;
}

select:focus {
  color: white;

  background-color: #833ae0;
}

/* select:blur {
  background-color: white;
} */

/*  */

/* Активный  Класс для ВЫБРАННОЙ нами валюты.   При загрузке страницы у нас уже есть две кнопки с этим активным классом  */
.current-currencie {
  color: white;

  background-color: #833ae0;
}

/*  */

/* Блок с инпутом для ввода чисел  и  строкой с курсом валют */
.wrapper-for-input-and-rate {
  position: relative;
}

/* Стили для ИНПУТА */
.wrapper-for-input-and-rate input {
  display: inline-block;
  width: 259px;
  min-height: 101px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  padding-bottom: 41px;
  padding-left: 14px;

  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

/* Стили текста  "1 RUB = 0.0135 USD"  */
.wrapper-for-input-and-rate p {
  position: absolute;
  bottom: 12px;
  left: 16px;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #c6c6c6;
}

/* Стрелки , отвечающие за смену БАЗОВОЙ и ЖЕЛАЕМОЙ валют */
.arrows {
  position: absolute;
  left: 554px;
  top: 284px;

  cursor: pointer;
}

.arrows:hover path {
  stroke: #833ae0;
}
